mixin circle-radial()
  .circle-radial.circle-radial--top
  .circle-radial.circle-radial--top-right
  .circle-radial.circle-radial--right
  .circle-radial.circle-radial--bottom-right
  .circle-radial.circle-radial--bottom
  .circle-radial.circle-radial--bottom-left
  .circle-radial.circle-radial--left
  .circle-radial.circle-radial--top-left




